*{
    margin: 0;
    padding: 0;
}

#container{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 10px;
}

.divs{
    width: 300px;
    height: 300px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}