body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.sessionContainer, .localContainer{
    border: 1px solid black;
    border-radius: 6px;
    padding: 10px;
    margin: 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}